.person-panel {
  z-index: 9; /* Higher than the backdrop */
  background: #B29F8E; /* Green background */
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  color: white; /* Text contrast */
  padding: 30px; /* Space inside the overlay */
  width: 20%;
  object-position: center;

  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items closer to the top */
  gap: 20px; /* Add space between child elements */
}
